@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

:root {
  --yellow: hsl(51, 100%, 49%);
  --soft-red: hsl(7, 99%, 70%);
  --green: hsl(167, 40%, 24%);
  --blue: hsl(198, 62%, 26%);
}

body {
  width: 100%;
  min-height: 100vh;
}

h1 {
  color: #FFF;
  text-align: center;
  font-family: 'Fraunces';
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.54688rem;
  text-transform: uppercase;
}

h2{
  color: #24303E;
  font-family: 'Fraunces';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.01788rem;
  margin-bottom: 2rem;
}

h3{
  text-align: center;
  font-family: 'Fraunces';
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.0125rem;
  margin-bottom: 1.69rem;
}

p{
  color: #808397;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem; /* 166.667% */
  letter-spacing: -0.00806rem;
  margin-bottom: 2.5rem;
}

span{
  color: #24303E;
  font-family: 'Fraunces';
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.5625rem; /* 166.667% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding-bottom: 9.8rem;
}


@media (max-width: 700px) and (min-width: 375px) {
  h1{
    font-size: 2.5rem;
    letter-spacing: 0.39063rem;
  }
}

